@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

@font-face{
    font-family: "Langar";
    src: url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
}

* {
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    height: 70vh;
    padding: 0;
    margin: 5px;
}

html {
    font-size: 16px;
}

.body__container {
    width: 800px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.body__image--container {
    display: flex;
    text-align: center;
    transform: translate(0);
    transition: transform .8s ease-in-out;
}

img {
    width: 100%;
}

 
.counter__div {
    position: absolute;
    top: 90px;
    left: 20px;
}


.image--counter, .counter{
    font-size: 1.4rem;
    font-weight: 600;
    color: #FFF;
}

.image--counter:hover, .counter:hover {
    cursor: pointer;
    color: #BBB;
}

.tittle__div {
    display: flex;
    justify-content: center;
}

.tittle {
    font-family: "Langar";
    font-size: 1.2rem;
    font-weight: 600;
}

.controllers {
    color: #FFF;
    font-size :2rem;
    display: flex;
    max-width: 98vw;
    justify-content: space-between;
    text-align: center;
}

.slider__button--left {
  left: 20px;
}

.slider__button--left i:active{
    font-size: 1rem;
}

.slider__button--left i:hover{
    cursor: pointer;
    left: 10px
}

.slider__button--right {
    right: 20px;
}

.slider__button--right i:active{
    font-size: 1rem;
}

.slider__button--right i:hover{
    cursor: pointer;
    right: 10px;
}

.slider__button--left, .slider__button--right {
    width: 20px;
    display: inline-block;
    opacity: .75;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    transition: all .3s ease;

}

.slider__dots {
    position: absolute;
    display: flex;
    bottom: 60px;
    right: 330px;
    justify-content: center;
    margin-top: 10px;
    padding: 0.5rem;
    color: #FFF;
}

.slider__dots i {
    padding: .5rem;
}

.slider__dots i:active {
    font-size: .7rem;
    color: #AAA;
}

.slider__dots i:hover{
    cursor: pointer;
    color: #CCC;
}